/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding-left: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

#portfolio-icon {
  font-size: 2.8rem;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bold;
  position: absolute;
  padding-left: 4%;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  display: inline-block;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  padding: 10px 10%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.home-img .image,
.image1 {
  /* width: 35vw; */
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-img {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img .image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 2rem var(--main-color);
  transform: translateX(-50%);
}

.image img {
  position: absolute;
  top: 0.5px;
  max-width: 350px;
  object-fit: cover;
  left: -12%;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-right: 15px;
}

.btn1 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: transparent;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-right: 15px;
}

.btn:hover {
  box-shadow: none;
}

.btn1:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 10px 10%;
  background: var(--second-bg-color);
}

.about-img {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image1 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 0 2rem var(--main-color);
}

.image1 img {
  position: absolute;
  top: 0.5px;
  left: 42%;
  transform: translateX(-50%);
  max-width: 350px;
  object-fit: cover;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.skills {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 7% 10%;
}

.skills p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
  padding-left: 23%;
}

.skills-box h3 {
  font-size: 2.6rem;
  padding-bottom: 15px;
}

.skills-box h2 {
  padding-bottom: 35px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding-top: 3rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.skills-container .skills-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.projects {
  padding-top: 7%;
  background: var(--second-bg-color);
}

.projects h2 {
  margin-bottom: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
  padding: 0 10% 5%;
}

.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
  transform: translateY(0);
}

.projects-layer h4 {
  font-size: 3rem;
}

.projects-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.projects-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.projects-layer a .icon-link {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.education {
  padding: 7% 0 5%;
  margin-bottom: 3rem;
}

.education p {
  font-size: 2.2rem;
  margin: 2rem 0 3rem;
  padding-left: 38%;
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.education-container .education-box {
  background: var(--second-bg-color);
  padding: 2rem 3rem;
  border-radius: 2rem;
  border: 0.2rem solid var(--main-color);
  transition: 0.5s ease;
  max-width: 800px;
  width: 100%;
}

.education-box .edu-head {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 1.5rem;
}

.education-box .edu-head img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.education-box .edu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.education-box .edu-head .edu h1 {
  font-size: 2rem;
}

.education-box .edu-head .edu h2 {
  opacity: 0.7;
}

.education-box h2 {
  opacity: 0.7;
  padding-bottom: 2%;
}

.education-box h3 {
  font-size: 1.5rem;
}

.contact {
  padding-top: 7%;
  background: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a .icon {
  font-size: 1.8rem;
  color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .btn {
    margin-bottom: 15px;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    padding-top: 100px;
  }

  .home-img {
    order: 1;
  }

  .home-img .image {
    width: 260px;
    height: 260px;
  }

  .image img {
    position: absolute;
    top: 0.5px;
    max-width: 350px;
    object-fit: cover;
    left: -30%;
  }

  .home-content {
    order: 2;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
    padding-top: 15%;
  }

  .image1 {
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 2rem var(--main-color);
  }

  .skills {
    justify-content: center;
    align-items: center;
    gap: 5rem;
    /* padding: 18% 10%; */
    padding: 6% 4%;
  }

  .skills p {
    padding: 0;
    text-align: center;
  }

  .projects {
    /* padding: 18% 10%; */
    padding: 4%;
  }

  .projects h2 {
    margin-bottom: 3rem;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .projects-box img {
    width: 100%;
  }

  .education {
    /* padding: 18% 10%; */
    padding: 0;
  }

  .education-container {
    margin: 0 2rem;
  }

  .education p {
    padding: 0;
    text-align: center;
  }

  .education-box .edu-head img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
  }

  .education-box .edu-head .edu h1 {
    font-size: 1.6rem;
  }

  .education-box h3 {
    font-size: 1.4rem;
  }

  .heading {
    text-align: center;
    font-size: 4.5rem;
    padding: 4%;
  }

  .contact {
    /* padding: 18% 10%; */
    padding: 4%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
